#results {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 70%;
    margin: auto; /* Centers the container */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .column {
    width: 100%;
  }
  
  h2 {
    margin: 10px;
    text-align: center;
    color: #333;
  }
  
  #inhibitory, #activating {
    width: 95%;
    border-collapse: collapse;
    margin: auto;
  }
  #activating-message, #inhibitory-message {
    text-align: center;
    font-size: 1em;
    color: #555;
    margin: 10px 0;
  }  
  th {
    background-color: #f4f4f4;
  }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
header, main {
    text-align: center;
    width: 100%;
}
#HLA-table, #KIR-table {
    width: 70%;
    border-collapse: collapse;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    /* table-layout: fixed; */
}

#KIR-table th, #KIR-table td {
    width: 6.25%; /* Approximately 100% / 16 columns */
}

#HLA-table th, #HLA-table td {
    width: 33.3%; /* Approximately 100% / 16 columns */
}

th, td {
    border: 1px solid black;
    padding: 8px;
    padding-left: 3px;
    padding-right: 3px;
    /* width: 33.33%; */
    /* text-align: left; */
}
th {
    background-color: #f2f2f2;
}
.update {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.update-cell {
    padding: 0px;
    border: 0px;
}

#process-button {
    width: 70%;
    padding: 10px;
}

#progress-container {
    width: 100%;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
}

#progress-bar {
    width: 0;
    height: 30px;
    background-color: #4caf50;
    text-align: center;
    color: white;
    line-height: 30px; /* Match the height for center alignment */
}