#results {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 70%;
    margin: auto; /* Centers the container */
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .column {
    width: 100%;
  }
  
  h2 {
    margin: 10px;
    text-align: center;
    color: #333;
  }
  
  #inhibitory, #activating {
    width: 95%;
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 10px;
  }
  #activating-message, #inhibitory-message {
    text-align: center;
    font-size: 1em;
    color: #555;
    margin: 10px 0;
  }  
  th {
    background-color: #f4f4f4;
  }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
header, main {
    text-align: center;
    width: 100%;
}
#HLA-table, #KIR-table {
    width: 70%;
    border-collapse: collapse;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

#KIR-table th, #KIR-table td {
    width: 6.25%; /* Approximately 100% / 16 columns */
}

#HLA-table th, #HLA-table td, #inhibitory th, #inhibitory td,  #activating th, #activating td{
    width: 33.3%; /* Approximately 100% / 16 columns */
}

th, td {
    border: 1px solid black;
    padding: 8px;
    padding-left: 3px;
    padding-right: 3px;
}
th {
    background-color: #f2f2f2;
}
.update {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.update-cell {
    padding: 0px;
    border: 0px;
}

#process-button {
    width: 70%;
    padding: 10px;
}

#progress-container {
    width: 70%;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    margin-left: auto;
    margin-right: auto;
}

#progress-bar {
    width: 0;
    height: 30px;
    background-color: #4caf50;
    text-align: center;
    color: black;
    font-weight: bold;
    line-height: 30px;
}
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltip-text {
    visibility: hidden;
    background-color: #efefef; /* Darker background for better visibility */
    border: 1px solid;
    color: #000000;
    text-align: left; /* Left-align text */
    border-radius: 6px; /* Rounded corners */
    padding: 7px; /* Padding for better readability */
    position: absolute;
    z-index: 1;
    top: 50%; /* Center vertically */
    left: 105%; /* Position to the right of the button */
    transform: translateY(-50%); /* Center vertically in relation to the button */
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap; /* Prevent text wrapping */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Add shadow for better visibility */
}

/* Show the tooltip text when the 'active' class is added */
.tooltip.active .tooltip-text {
    visibility: visible;
    opacity: 1;
}

input[type="checkbox"] {
    accent-color: #4caf50;    
}

.error-message {
    display: none;
    min-height: 0;
    margin-top: 4px; /* Adjust this if needed */
    /* position: absolute; */
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 5px;
    border-radius: 4px;
    /* z-index: 1000;
    top: 50%;
    left: 70%;
    transform: translateY(-50%); */
    white-space: nowrap;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}

td {
    position: relative;
} 

td div[id^="hla-"] {
    min-height: 17.5px; /* Adjust this value if necessary */
}


td div {
    margin: 0;
    padding: 0;
}


/* Ensure the divs inside td are consistent in height */
td div[contenteditable="true"] {
    min-height: 17.5px; /* Adjust this value if necessary */
    outline: none;
    padding: 0px;
}